In [21]:
import pandas as pd
from pathlib import Path
from IPython.display import Markdown, display

In [22]:
file = Path("10-K_Financials__USD_millions_.csv")
df = pd.read_csv(file)

In [23]:
df.head()

,Company,Fiscal Year,Fiscal Year End,Total Revenue (USDm),Net Income (USDm),Total Assets (USDm),Total Liabilities (USDm),Cash Flow from Operating Activities (USDm)
0,Apple,2024,2024-09-28,391035,93736,364980,308030,118254
1,Apple,2023,2023-09-30,383285,96995,352583,290437,110543
2,Apple,2022,2022-09-24,394328,99803,352755,302083,122151
3,Microsoft,2024,2024-06-30,245122,88136,512163,243686,118548
4,Microsoft,2023,2023-06-30,211915,72361,411976,205753,87582

In [24]:
print("Chatbot. Type one of the 10 questions below, or 'exit'.\n")
print(
    "1) what is the revenue for the companies\n"
    "2) what is the net income for the companies\n"
    "3) show operating cash flow for the companies\n"
    "4) show total assets for the companies\n"
    "5) show total liabilities for the companies\n"
    "6) show company, year, revenue, net income\n"
    "7) list companies\n"
    "8) list years\n"
    "9) show latest for microsoft\n"
    "10) show latest for tesla\n"
)

while True:
    try:
        q = input("> ").strip().lower()
    except (EOFError, KeyboardInterrupt):
        print("\nBye!")
        break

    if q in ("exit", "quit"):
        print("Bye!")
        break

    if q == "what is the revenue for the companies":
        print(df[["Company", "Fiscal Year", "Total Revenue (USDm)"]])

    elif q == "what is the net income for the companies":
        print(df[["Company", "Fiscal Year", "Net Income (USDm)"]])

    elif q == "show operating cash flow for the companies":
        print(df[["Company", "Fiscal Year", "Cash Flow from Operating Activities (USDm)"]])

    elif q == "show total assets for the companies":
        print(df[["Company", "Fiscal Year", "Total Assets (USDm)"]])

    elif q == "show total liabilities for the companies":
        print(df[["Company", "Fiscal Year", "Total Liabilities (USDm)"]])

    elif q == "show company, year, revenue, net income":
        print(df[["Company", "Fiscal Year", "Total Revenue (USDm)", "Net Income (USDm)"]])

    elif q == "list companies":
        print(df["Company"].unique())

    elif q == "list years":
        print(df["Fiscal Year"].unique())

    elif q == "show latest for microsoft":
        sub = df[df["Company"] == "Microsoft"]
        latest = sub[sub["Fiscal Year"] == sub["Fiscal Year"].max()]
        print(latest[["Company", "Fiscal Year", "Total Revenue (USDm)", "Net Income (USDm)"]])

    elif q == "show latest for tesla":
        sub = df[df["Company"] == "Tesla"]
        latest = sub[sub["Fiscal Year"] == sub["Fiscal Year"].max()]
        print(latest[["Company", "Fiscal Year", "Total Revenue (USDm)", "Net Income (USDm)"]])

    else:
        print("This question isn't in the 10 predefined ones. I'll connect you to an agent.")

Chatbot. Type one of the 10 questions below, or 'exit'.

1) what is the revenue for the companies
2) what is the net income for the companies
3) show operating cash flow for the companies
4) show total assets for the companies
5) show total liabilities for the companies
6) show company, year, revenue, net income
7) list companies
8) list years
9) show latest for microsoft
10) show latest for tesla

>  show operating cash flow for the companies

     Company  Fiscal Year  Cash Flow from Operating Activities (USDm)
0      Apple         2024                                      118254
1      Apple         2023                                      110543
2      Apple         2022                                      122151
3  Microsoft         2024                                      118548
4  Microsoft         2023                                       87582
5  Microsoft         2022                                       89035
6      Tesla         2024                                       14923
7      Tesla         2023                                       13256
8      Tesla         2022                                       14724

>  show latest for microsoft

     Company  Fiscal Year  Total Revenue (USDm)  Net Income (USDm)
3  Microsoft         2024                245122              88136

>  show total liabilities for the companies

     Company  Fiscal Year  Total Liabilities (USDm)
0      Apple         2024                    308030
1      Apple         2023                    290437
2      Apple         2022                    302083
3  Microsoft         2024                    243686
4  Microsoft         2023                    205753
5  Microsoft         2022                    198298
6      Tesla         2024                     48390
7      Tesla         2023                     43009
8      Tesla         2022                     36440

>  which one should I invest in?

This question isn't in the 10 predefined ones. I'll connect you to an agent.

>  quit

Bye!